fastapi==0.111.0
starlette==0.37.2
uvicorn[standard]==0.30.6
websockets==12.0      # もしくは websockets<14 14から仕様が変わるためエラーでる

python-multipart
openai-whisper

--extra-index-url https://download.pytorch.org/whl/cpu
torch                # CPU 版。バージョンは用途に合わせて固定可

pydantic-settings